<!DOCTYPE html>

<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>

  <body>
    <!-- Change this if want to beautify this -->
    <nav>
      <li><a href='/auth/google'> Sign in with google </a></li>
    </nav>
    <div id="formContainer">
				<p id="inputFields" >
          <form action = '/search' method = get>
					     <span id='formTitle'>City Weather</span>
					<br>
					     <input type="text" name="city_input" id="city" class="input" placeholder="city"/>
					<br>
					     <input type="submit" id="search" data-loading-text="Loading..."/>
          </form>
				
			</div>
  </body>
</html>
